// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter)

html, body
  width: 100%
  height: 100%

#iphone-bg
  background-color: #B90504
  width: 100%
  height: 600px

.logo
  font-family: 'Architects Daughter', cursive

.logo-image
  background-image: url('/logo.png')
